.contactSection{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    animation: animationIn .7s ease-in-out;
}
.messagemeText{
    margin: 50px 0px;
}
.inputText1{
    margin: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    background: rgba(20,20,20);
    color: white;
    width: 250px;
}
.inputTextarea{
    margin: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    background: rgba(20,20,20);
    color: white;
    width: 530px;
    height: 200px;
    resize: none;
}
.inputText{
    margin: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    background: rgba(20,20,20);
    color: white;
    width: 530px;
}
.inputText{
    margin: 10px;
    margin-left: 20px;
    padding: 5px 10px;
    background: rgba(20,20,20);
    color: white;
    width: 530px;
}
.submitBtn{
    padding: 10px 20px;
    margin: 20px;
    background: rgb(55, 100, 55);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: all .3s linear;
}
.submitBtn:hover{
    background: rgba(55, 100, 55, 0.759);
}



@media screen and (max-width: 900px){
    
    .messageTextName{
        display: grid;
        justify-content: center;
        align-items: center;
    }
    .inputText{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inputTextarea{
        width: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



@keyframes animationIn {
    from{
      opacity: 0;
      transform: translateX(-100deg);
    }
    
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }