.resumeSection{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    animation: animationIn .7s ease-in-out;
}

.resumeHeaderText{
    margin: 60px 0px 20px 0px;
    font-weight: bold;
}

.resumeFlex{
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap: wrap;
    margin: 30px;
}
.experienceFlex{
    width: 90%;
}
.educationFlex{
    width: 90%;
}
.resumeHeader h3{
    padding: 10px 0px;
}
.resumeText{
    width: 100%;
    height: 150px;
    padding: 20px;
    background: rgba(20,20,20);
    border-left: 2px solid rgb(55, 100, 55);
    border-bottom: .1px solid rgba(128, 128, 128, 0.13);
    flex-wrap: wrap;
}
.resumeText h4{
    font-size: 13px;
}
.resumeText h6{
    font-size: 11px;
    color: gray;
    padding: 2px 0px;
}
.resumeText p{
    font-size: 10px;
    color: gray;
    width: 90%;
    padding-top: 10px ;
}
.hrLineBackground{
    width: rgba(20,20,20);
}
.htmlTag{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: green;
}
.skillsText{
    padding: 20px;
    background: rgba(20,20,20);
    margin: 20px 0px;
    font-weight: bold;
    transition: all .3s linear;
    border-bottom: 2px solid transparent;
    color: gray;
}

.skillsText:hover{
    border-bottom: 2px solid rgb(55, 100, 55);
    box-shadow: none;
}



@media screen and (max-width: 900px) {

    .resumeFlex{
        display: flex;
        gap: 20px;
    }
    
}

@keyframes animationIn {
    from{
      opacity: 0;
      transform: translateX(-100deg);
    }
    
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }