@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-around{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-start{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column{
  flex-direction: column;
}

.gap-5{
  gap:5px;
}
.gap-10{
  gap:10px;
}
.gap-20{
  gap:20px;
}
.gap-30{
  gap:30px;
}
.gap-40{
  gap:40px;
}
.gap-50{
  gap:50px;
}

.pad-5{
  padding: 5px;
}
.pad-10{
  padding: 10px;
}
.pad-20{
  padding: 20px;
}
.mar-10{
  padding: 10px;
}
.mar-20{
  padding: 20px;
}
.linkTag{
  text-decoration: none;
}



