.portfolioSection{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    animation: animationIn .7s ease-in-out;
}
.websiteFatherSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  width: 70%;
}
.wehH3{
  font-size: 17px;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
}
.imgPortSection{
  border-radius: 10px ;
  overflow: hidden;
  object-fit: contain;
}
.websiteSection{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(20,20,20);
  border-radius: 20px;
}

.websiteSingleContainer{
  padding: 5px;
  padding-bottom: 10px;
}
.textP p{
  font-size: 14px;
}
.webIcon{
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.webIcon:hover{
  transform: scale(1.2);
  color: silver;
}

@media screen and (max-width: 900px) {
  
  .wehH3{
    font-size: 15px;
  }
  .imgPortSection{
    width: 300px;
  }
  .img{
    width: 100%;
  }
}


@keyframes animationIn {
    from{
      opacity: 0;
      transform: translateX(-100deg);
    }
    
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }